/* \src\app\mylife\mylife.css */

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .arrow {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: normal;
  }

  .mylife-layout {
    height: 95dvh;
    display: grid;
    grid-template-columns: clamp(8rem, 12vw, 14rem) 3fr 4fr;
    grid-template-rows: auto 1fr; /* actions + explication = auto, images = 1fr */
    grid-template-areas:
      "years actions explication"
      "years images images";
    gap: 1rem;
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
  }


  .mylife-years {
    grid-area: years;
    height: 90dvh;
    /* background-color: red; */
    font-weight: bold;
    z-index: 11;
  }

  .year-item {
    font-size: max(min(3vw, 2.5rem), 2rem);
    text-align: left;
    padding: 0 auto;
    line-height: 2.5rem;
    transition: transform 0.3s ease;
  }

  .year-item:hover {
    transform: translateX(0.5rem);
  }

  .year-item.active {
    transform: translateX(0.5rem);
  }

  .mylife-actions {
    grid-area: actions;
    background-color: black;
    z-index: 11;
  }

  .action-item {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    padding-right: 1rem;
    font-size: max(min(2vw, 1.7rem), 1.4rem);
    text-align: left;
    padding-bottom: 0.5rem;
    transition: transform 0.3s ease;
  }

  .action-item:hover {
    transform: translateX(0.5rem);
  }

  .action-item.active {
    transform: translateX(0.5rem);
  }

  .mylife-explication {
    grid-area: explication;
    font-size: 1rem;
    line-height: 1.1;
    width: 100%;
    padding-right: 1rem;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11;
  }
  

  .mylife-images-grid {
    grid-area: images;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    height: calc(100% - 1rem); 
    overflow: hidden;
  }
  
  .mylife-images-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease, border-radius 0.4s ease;
  }
  
  .mylife-images-grid img:hover {
    transform: scale(0.90);
    border-radius: 10px;
  }

  .z11-shadow {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  }
}
