/* contact.css */
/* ---- Version desktop ---- */
@media screen and (min-width: 751px) and (max-width: 1024px) {
  /* Global container */
  .contact-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'HelveticaCustom', sans-serif !important;
  }

  /* Section du haut */
  .contact-text-top {
    width: 100%;

  }

  /* Section du bas */
  .contact-text-bottom {
    width: 100%;
    margin-top: auto; /* pousse en bas */

  }

  /* Ligne sociale */
  .contact-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Colonnes gauche, centre, droite */
  .contact-social-name {
    flex: 1;
    text-align: left;
  }

  .contact-arrow {
    flex: 1;
    text-align: center;
  }

  .contact-username {
    flex: 1;
    text-align: right;
  }

  /* Liens */
  .contact-link {
    text-decoration: none;
  }

  .contact-link:hover {
    text-decoration: underline;
  }

  /* Vidéo / GIF */
  .contact-video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Background.gif");
    background-size: cover;
    background-position: center;
    flex-grow: 1; /* occupe l'espace restant entre top et bottom */
  }
}
