/* ---- Version smartphone ---- */
@media screen and (max-width: 750px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 10vh;
    max-height: 10vh;
    /* padding-bottom: 0rem; */
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px -10px 20px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
  }

  .navbar__mobile-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem 0rem 1rem;
  }

  .navbar__center {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    font-size: 1.5rem;
    width: 100%;
    padding: 0rem 1rem;
    /* gap: 10vw; */
  }

  .navbar__link {
    transform: translateY(-0.5rem);
    padding: 0rem 0rem;
    display: inline-block;
    transition: all 0.3s;
  }

  .navbar__link.active {
    transform: translateY(0px);
  }
  
  

  .navbar__left,
  .navbar__right {
    display: none;
  }
}
