/* ---- Version tablet ---- */
@media screen and (min-width: 501px) and (max-width: 1024px) {

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 5dvh;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px -10px 20px 20px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navbar__left,
.navbar__right {
  font-size: 3vw;
  text-transform: uppercase;
}

.navbar__center {
  display: flex;
  gap: 10vw;
  font-size: 2dvw;
  padding: 0vw 1vw;
  text-transform: uppercase;
}

.navbar__link {
  position: relative; /* nécessaire pour l’animation */
  text-decoration: none;
}

/* Effet soulignement animé */
.link_projects::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 0.1dvw;
  background-color: white;
  transition: width 0.5s ease;
}
.link_contact::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 3px;
  width: 0;
  height: 0.1dvw;
  background-color: white;
  transition: width 0.5s ease;
}
.link_mylife::after {
  content: '';
  position: absolute;
  left: 50%;         /* centre horizontal */
  bottom: 3px;
  width: 0;
  height: 0.1dvw;
  background-color: white;
  transform-origin: center;  /* origine du scale au centre */
  transform: translateX(-50%) scaleX(0); /* on centre la ligne et on la réduit à 0 */
  transition: transform 0.5s ease;
}

.link_mylife:hover::after {
  transform: translateX(-50%) scaleX(1); /* on étire la ligne depuis le centre */
  width: 100%; /* width doit rester à 100% pour que scaleX marche bien */
}
.navbar__link:hover::after {
  width: 100%;
}
.navbar__mobile-name {
  display: none;
}


}