.home-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* overflow: hidden; */
}

.backdrop {
  position: fixed;
  /* top: 1rem; */
  /* left: 1rem; */
  width: calc(100dvw - 0rem);
  height: calc(100dvh - 0rem);
  backdrop-filter: blur(10px);
  
  background-color: rgba(0,0,0,0.3); /* si tu veux un peu de sombre derrière */
  z-index: 0;
}

.text-block {
  position: fixed;
  /* top: 1dvh; */
  /* left: 1dvw; */
  width: calc(100dvw - 0rem);
  height: calc(100dvh - 0rem);
  /* border */
  border: 5dvw solid black;
  /* box-shadow: 0px 1px 100px 4000px black; */
  position: relative;
  z-index: 1;           /* texte devant le backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100; */
  /* height: auto; */
}

.text {
  font-weight: 100;
  font-size: 5dvw;
  text-transform: uppercase;
  color: #FAFAFA;
  background-color: black;
  padding: 0 2rem;
  white-space: nowrap;
}



.dud {
  color: black;
  background-color: white;
  /* border: 0.5dvw solid grey; */
}
.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

